h1 {
    text-align: center;
    color: white;
    background-color: blue;
}

div {
    display: inline-block;
    width: 40%;
  }

h2 {
    text-align: center;
}

p {
    font-size: 14pt;
}

.cat {
    background-color: aqua;
    display: inline-block;
    position: absolute;
}

#image-cat {
    float: left;
}

.dog {
    background-color: orange;
    display: inline-block;
    position: relative;
    left: 854.5px;

}

#image-dog {
    float: right;
}

footer {
    text-align: center;
    color: white;
    background-color: blueviolet;
    clear: both;
}