/* Combining two selectors. */
h1, h2 {
    color: blueviolet;
}

/* Choosing a child selector. */
.box > p {
    color: firebrick;
}
/* Observation: This method is possible only to a child selector.

/* Ascendent and descendent selectors. */
.box li {
    color: blue;
}

/* Chaining selectors. */
li.done {
    color: green;
}

/* Combining combiners. */
ul p.done {
    font-size: 0.5rem;
}