/* 
TODO
By changing only the display property of the CSS make all 3 squares line up horizontally.
*/

p {
    color: white;
  }

.red1 {
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
}

.green1 {
    height: 200px;
    width: 200px;
    background-color: green;
    display: inline-block;
}

  .blue1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}

/* 
TODO
By changing only the display property of the CSS make all 3 squares line up vertically.
*/

.red2 {
  height: 200px;
  width: 200px;
  background-color: red;
  display: block;
}

.green2 {
  height: 200px;
  width: 200px;
  background-color: green;
  display: block;
}

.blue2 {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: block;
}

/* Observations!
1. display block: the element use the entire full width. If exists another element, he goes to the next line.
2. display inline: all the elements use the same line. It's impossible to adjust element's height or width, because they fits to the element.
3. display inline-block: all the elements use the same line, but it's possible to adjust the element's height or width.   
*/