<%- include("partials/header") %>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
    <!-- bootstrap classes. -->
    <div class="form-group">
        <label for="">Title</label>
        <input class="form-control" name="postTitle">
        <label for="">Post</label>
        <textarea class="form-control" name="postBody" id="" cols="10" rows="1"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") %>